<nav class="mb-4">
  <div class="flex justify-around items-center bg-primary text-secondary">
    <a class="flex items-center gap-2" href="#">
      <img src="/assets/images/logo-1.png" class="w-14" alt="" />
      <h1 class="font-bold text-xl">ChuckDev</h1>
    </a>
    <ul class="flex gap-8">
      <li><a href="" class="hover:text-terciary">Home</a></li>
      <li><a href="" class="hover:text-terciary">About Me</a></li>
      <li><a href="" class="hover:text-terciary">My Career</a></li>
      <li><a href="" class="hover:text-terciary">Projects</a></li>
    </ul>
    <button class="bg-terciary px-4 py-1 rounded-full inline-flex items-center transition duration-50 hover:bg-[#b41c1a]">
      Download CV
      <svg
        class="fill-current w-4 h-4 mx-2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
      </svg>
    </button>
  </div>
</nav>
