#banner-container {
  background-image: url('../../../assets/images/ProjectRenekton-HD.jpg');
}

input:checked + label {
  border-radius: 10.4px;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #cd1f1d;
  transition-duration: 100ms;
}

input:hover + label {
  border-radius: 10.4px;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #cd1f1d;
}
